body {
  font-family: 'Raleway';
}

.header-container {
  text-align: center;
}

h1 {
  font-size: 60px;
  display: inline-block;
}

.header {
  font-weight: 200;
}

.header-emphasis {
  font-weight: 8000;
}

.header-red {
  font-weight: 800;
  color: red
}

.video-container {
  text-align: center;
}

.footer {
  margin-top: 20px;
  text-align: center;
}