body {
  font-family: 'Raleway';
}

.header-container {
  text-align: center;
}

h1 {
  font-size: 60px;
  display: inline-block;
}

.header {
  font-weight: 200;
}

.header-emphasis {
  font-weight: 8000;
}

.header-red {
  font-weight: 800;
  color: red
}

.video-container {
  text-align: center;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.icon {
  cursor: pointer;
  color: #292c30;
  font-size: 40px;
  margin-top: 20px;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.icon:hover {
  color: #5c2b7c;
}

.mobile-container {
  display: none;
}

@media only screen and (max-width: 640px) {
  .desktop-container {
    display: none;
  }

  .mobile-container {
    display: unset;
    text-align: center;
  }

  .mobile-text {
    margin-top: 150px;
    padding: 20px;
  }
}